.btn {
    box-sizing: border-box;
    appearance: none;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: black;
    color: white;
}

.all-functions{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: linear-gradient(to right, #4E82EC, #55B3A8);
}
a{
    color: black;
}